<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat App</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div align="right" style="margin: 10px;">
        <a href="../login/login.html">
            <button type="submit" class="btn btn-primary" id="logout"  onclick="logout();">Logout</button>
        </a></div>
        <main>
            <header>
                <div class="title">
            
        </main>
</body>
</html>